<footer class="site-footer">
    

  <div class="wrapper">

    

    
        <ul class="text-center">
          
          <span><a href="mailto:{{ site.email }}">{{ site.email }}</a></span> &bull; <span>{{ site.description }}</span> &bull; <span><a href="{{ site.url }}/tos/index.html">Terms of Service</a></span> &bull; <span><a href="{{ site.url }}/privacy/index.html">Privacy Policy</a></span> &bull; <span>Developed and maintained by <a href="http://www.keralahost.in">Kerala Host</a></span> &bull; <span>Go green, go veg.</span>
        </ul>
      
  </div>

</footer>


