<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-info fixed-top">
      <a class="navbar-brand" href="{{ site.url }}/">{{ site.title }}</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link active" href="{{ site.url }}/"><i class="fa fa-home"></i>Home</a>
          </li>         
          <li class="nav-item">
            <a class="nav-link active" href="{{ site.url }}/about/index.html"><i class="fa fa-user-plus"></i>About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="{{ site.url }}/shop/index.html"><i class="fa fa-shopping-cart fa-spin"></i>Shop</a>
          </li>
        </ul>
        <form class="form-inline" method="get" action="https://www.google.com/search" target="google_window">
<input class="form-control mr-sm-2" type="text" name="q" size="20" maxlength="255" value=" Google search..." onfocus="if(this.value==' Google search...')this.value=''" onblur="if(this.value=='')this.value=' Google search...'"/>
<button class="btn btn-info shadow-sm mr-sm-2" type="submit" name="sa" value="Search">Search</button>
<input type="hidden" name="sitesearch" value="{{ site.url }}" checked="checked">
</form>
<a href="{{ site.baseurl }}/search2/index.html" class="btn btn-info shadow-sm text-white" role="button">Built-in Search</a>
      </div>
    </nav>
</header>
